@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";
.articles {
  padding: 150px 0 0;
  @include respond-to('xl') {
    padding: 50px 0 80px;
  }
  @include respond-to('md') {
    padding-top: 40px;
  }
}
.content {
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 114px;
    @include respond-to('xl') {
      margin-bottom: 50px;
    }
  }
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  @include respond-to('md') {
    flex-direction: column;
  }
}

.item {
  & + .item {
    margin-left: 110px;
    @include respond-to('xxl') {
      margin-left: 60px;
    }
    @include respond-to('xl') {
      margin-left: 30px;
    }
    @include respond-to('md') {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}